In [1]:
import pandas as pd
import json
from collections import Counter

## Take a look at the input data

In [2]:
input_data = 'supplier_car.json'

#read input json file, take care of the encoding!
d = [json.loads(line) for line in open(input_data, 'r', encoding='utf-8')]
df = pd.DataFrame(data=d)

In [3]:
df.shape

(21906, 9)

In [4]:
df.head()

,ID,MakeText,TypeName,TypeNameFull,ModelText,ModelTypeText,Attribute Names,Attribute Values,entity_id
0,976.0,MERCEDES-BENZ,McLaren,MERCEDES-BENZ SLR McLaren,SLR,SLR McLaren,Seats,2,0001fda6-192b-46a8-bc08-0e833f904eed
1,1059.0,MERCEDES-BENZ,ML 350 Inspiration,MERCEDES-BENZ ML 350 Inspiration,ML 350,ML 350 Inspiration,Hp,235,00107c2d-0071-4475-88f0-810133638b7e
2,524.0,AUDI,S6 Avant quattro 4.2,AUDI S6 Avant quattro 4.2,S6,S6 Avant quattro 4.2,FuelTypeText,Benzin,00126794-a8ef-48fe-93d6-43cfc69fbfb6
3,608.0,SAAB,9-3 2.0i-16 TS Aero,SAAB 9-3 2.0i-16 TS Aero,9-3,9-3 2.0i-16 TS Aero,Ccm,1985,00182529-1bf7-4f93-89fa-2e8e634b2c9d
4,726.0,PORSCHE,911 Turbo Cabrio,PORSCHE 911 Turbo Cabrio,911,911 Turbo Cabrio,BodyColorText,schwarz mét.,002d30c2-43f6-4905-868f-160dbc445c56

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21906 entries, 0 to 21905
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                21906 non-null  object
 1   MakeText          21906 non-null  object
 2   TypeName          21906 non-null  object
 3   TypeNameFull      21906 non-null  object
 4   ModelText         20957 non-null  object
 5   ModelTypeText     21906 non-null  object
 6   Attribute Names   21906 non-null  object
 7   Attribute Values  21906 non-null  object
 8   entity_id         21906 non-null  object
dtypes: object(9)
memory usage: 1.5+ MB

In [6]:
df.head(60)

,ID,MakeText,TypeName,TypeNameFull,ModelText,ModelTypeText,Attribute Names,Attribute Values,entity_id
0,976.0,MERCEDES-BENZ,McLaren,MERCEDES-BENZ SLR McLaren,SLR,SLR McLaren,Seats,2,0001fda6-192b-46a8-bc08-0e833f904eed
1,1059.0,MERCEDES-BENZ,ML 350 Inspiration,MERCEDES-BENZ ML 350 Inspiration,ML 350,ML 350 Inspiration,Hp,235,00107c2d-0071-4475-88f0-810133638b7e
2,524.0,AUDI,S6 Avant quattro 4.2,AUDI S6 Avant quattro 4.2,S6,S6 Avant quattro 4.2,FuelTypeText,Benzin,00126794-a8ef-48fe-93d6-43cfc69fbfb6
3,608.0,SAAB,9-3 2.0i-16 TS Aero,SAAB 9-3 2.0i-16 TS Aero,9-3,9-3 2.0i-16 TS Aero,Ccm,1985,00182529-1bf7-4f93-89fa-2e8e634b2c9d
4,726.0,PORSCHE,911 Turbo Cabrio,PORSCHE 911 Turbo Cabrio,911,911 Turbo Cabrio,BodyColorText,schwarz mét.,002d30c2-43f6-4905-868f-160dbc445c56
5,639.0,MERCEDES-BENZ,SL 600,MERCEDES-BENZ SL 600,SL 600,SL 600,ConsumptionTotalText,14.4 l/100km,003fb8f2-829f-4c90-89b9-cf4920d95f64
6,197.0,MERCEDES-BENZ,SL 600,MERCEDES-BENZ SL 600,SL 600,SL 600,FuelTypeText,Benzin,00e599a3-bf05-4a3a-896d-814732d64a07
7,939.0,CHEVROLET,Corvette 6.2,CHEVROLET Corvette 6.2,CORVETTE,Corvette 6.2,Doors,2,00e9838a-6c6b-4981-8f3f-5b7358eb02b1
8,717.0,MATRA,SIMCA Bagheera Serie II,MATRA SIMCA Bagheera Serie II,None,SIMCA Bagheera Serie II,ConsumptionTotalText,null,0119d621-2be4-4468-a6be-cf26805bd603
9,970.0,PORSCHE,Carrera GT,PORSCHE Carrera GT,CARRERA GT,Carrera GT,Ccm,5733,013d10a2-c604-47c4-a853-ed3c41447d1d
10,34.0,MERCEDES-BENZ,S 65 AMG L,MERCEDES-BENZ S 65 AMG L,S 65 AMG,S 65 AMG L,FuelTypeText,Benzin,0203c183-0e70-434f-927a-5226acc4fba9
11,411.0,BMW,Alpina Look,BMW 323 Alpina Look,323,323 Alpina Look,Hp,140,02268c2b-8da5-4cce-b2e5-97c2789f72f4
12,487.0,RENAULT,Rennwagen,RENAULT CLIO Rennwagen,CLIO,CLIO Rennwagen,Co2EmissionText,null,0252a44a-f8e8-436e-9876-1ff27e0b6c7e
13,937.0,BMW,M3,BMW M3,M3,M3,TransmissionTypeText,Schaltgetriebe manuell,02545f2f-85da-4dc9-ad47-f83d3c95b1d0
14,1134.0,ROLLS-ROYCE,Phantom 6.7 V12,ROLLS-ROYCE Phantom 6.7 V12,PHANTOM,Phantom 6.7 V12,FirstRegYear,2004,027ccd26-dd40-47fa-84d5-1e6ff6139441
15,249.0,PORSCHE,911 Carrera Targa,PORSCHE 911 Carrera Targa,911,911 Carrera Targa,Co2EmissionText,269 g/km,0290430c-7087-42c9-b364-82e7ed00ef79
16,1109.0,ALFA ROMEO,1300 Junior,ALFA ROMEO SPIDER 1300 Junior,SPIDER,SPIDER 1300 Junior,Properties,"""Ab MFK""",02f9db49-d5b3-487d-8c59-462ecf2ff9d3
17,1011.0,AUDI,RS6 Avant quattro,AUDI RS6 Avant quattro,RS6,RS6 Avant quattro,ConsumptionTotalText,14.6 l/100km,033f0731-3cb1-4c65-96d2-c9dc3ca7bd93
18,1011.0,AUDI,RS6 Avant quattro,AUDI RS6 Avant quattro,RS6,RS6 Avant quattro,Seats,5,034f0b30-7735-4444-a0fb-78979da74df5
19,373.0,SIMCA,Rallye2,SIMCA Rallye2,None,Rallye2,TransmissionTypeText,Schaltgetriebe,03824acb-663a-4cbf-84ed-b2f98bddd7a4
20,806.0,HONDA,Accord Coupé V6 3.0i VTEC,HONDA Accord Coupé V6 3.0i VTEC,ACCORD,Accord Coupé V6 3.0i VTEC,FirstRegYear,1998,0399aa11-8d96-4f84-a29e-1a5a729c634a
21,1043.0,VW,Phaeton 6.0 W12 4Motion,VW Phaeton 6.0 W12 4Motion,PHAETON,Phaeton 6.0 W12 4Motion,ConditionTypeText,Occasion,03c81a4d-911f-4c17-aa4f-133a32dfa987
22,869.0,RENAULT,Alpine A310 V6,RENAULT Alpine A310 V6,ALPINE,Alpine A310 V6,Km,31000,03cd41db-6069-4445-b1ac-ba7445d75e48
23,682.0,MERCEDES-BENZ,SL 55 AMG,MERCEDES-BENZ SL 55 AMG,SL 55 AMG,SL 55 AMG,TransmissionTypeText,Automat,03d2fbd8-f7f5-4437-b65f-41a6e832d8f4
24,679.0,AUDI,RS4 Avant 4.2 FSI quattro,AUDI RS4 Avant 4.2 FSI quattro,RS4,RS4 Avant 4.2 FSI quattro,DriveTypeText,Allrad,041d1cd7-2760-4a4a-8b9f-90714e951812
25,804.0,MERCEDES-BENZ,S 320,MERCEDES-BENZ S 320,S 320,S 320,DriveTypeText,Hinterradantrieb,042fc20b-c041-47ca-9ca9-b987c0ac9f28
26,1076.0,MERCEDES-BENZ,S 500,MERCEDES-BENZ S 500,S 500,S 500,Co2EmissionText,320 g/km,04421ec3-9127-4680-8d41-ff73efb9de29
27,382.0,BMW,M3,BMW M3,M3,M3,InteriorColorText,mehrfarbig,04540f3b-9597-4f8e-96da-2ac20b0ad138
28,346.0,MERCEDES-BENZ,SLK 200,MERCEDES-BENZ SLK 200,SLK 200,SLK 200,Km,13800,045d7024-e8da-4783-8f04-1ad49c36299a
29,288.0,AUDI,RS6 Avant quattro,AUDI RS6 Avant quattro,RS6,RS6 Avant quattro,FirstRegYear,2002,045e1f7a-8348-4995-98e6-44c1b7cc1928
30,830.0,SMART,Fortwo passion,SMART Fortwo passion,FORTWO,Fortwo passion,FirstRegYear,2003,0470fa06-1d66-46de-9351-3a5d7c847473
31,454.0,FERRARI,F355 Spider,FERRARI F355 Spider,F355,F355 Spider,Hp,380,0483f1a5-ca23-4747-b623-f761754c5552
32,913.0,ROLLS-ROYCE,Corniche,ROLLS-ROYCE Corniche,CORNICHE,Corniche,DriveTypeText,Hinterradantrieb,04a9777b-397e-4018-abc3-fe22c8003a43
33,289.0,BMW,X5 4.4i,BMW X5 4.4i,X5,X5 4.4i,Ccm,4398,04fb638e-6d14-4675-958c-1ad257a0174c
34,357.0,BMW,740i,BMW 740i,740,740i,Hp,286,05181343-7154-49af-a626-89e59756099a
35,892.0,BMW-ALPINA,B7 (E28),BMW-ALPINA 5 SERIES B7 (E28),5 SERIES,5 SERIES B7 (E28),FuelTypeText,Benzin,05d6cef4-1d9e-4b21-8023-ca4f269e6a76
36,573.0,MERCEDES-BENZ,B 200 T Sailing Edition,MERCEDES-BENZ B 200 T Sailing Edition,B 200,B 200 T Sailing Edition,Seats,5,060b7705-73b8-4728-80aa-2953de6ac903
37,352.0,AUDI,RS6 Avant quattro,AUDI RS6 Avant quattro,RS6,RS6 Avant quattro,ConsumptionRatingText,G,061100df-9b36-46fa-951a-8d3feb0d2704
38,205.0,FERRARI,F360 Modena Berlinetta,FERRARI F360 Modena Berlinetta,F360,F360 Modena Berlinetta,Seats,2,06534805-71c6-44fe-baea-b6472f191f8b
39,718.0,FERRARI,456 GTA,FERRARI 456 GTA,456,456 GTA,ConsumptionRatingText,null,065f840c-3975-4523-aed5-c94ca170fd6a
40,800.0,BMW,525i,BMW 525i,525,525i,FuelTypeText,Benzin,067b80dc-5b33-411e-a97d-6d1a4114168d
41,456.0,MERCEDES-BENZ,S 63 AMG,MERCEDES-BENZ S 63 AMG,S 63 AMG,S 63 AMG,ConsumptionTotalText,10.1 l/100km,06d18fb1-002d-4091-b464-ceca62f0f851
42,248.0,MASERATI,Spyder GT,MASERATI Spyder GT,SPYDER GT,Spyder GT,Seats,2,06d5b07f-9ac1-42f1-a80c-f8632df607f7
43,164.0,MERCEDES-BENZ,E 55 AMG Avantgarde,MERCEDES-BENZ E 55 AMG Avantgarde,E 55 AMG,E 55 AMG Avantgarde,Km,35000,06e65f61-b2c8-4378-a929-e3f96159ceaf
44,778.0,AUDI,RS6 Avant 5.0 V10 quattro,AUDI RS6 Avant 5.0 V10 quattro,RS6,RS6 Avant 5.0 V10 quattro,ConsumptionTotalText,14.0 l/100km,0716854b-2c14-40d3-b547-1add3486b320
45,623.0,MERCEDES-BENZ,S 500,MERCEDES-BENZ S 500,S 500,S 500,FirstRegYear,2005,072c51e3-63d1-4e59-ae3a-b1f0ca198c23
46,171.0,RENAULT,Alpine A310 V6,RENAULT Alpine A310 V6,ALPINE,Alpine A310 V6,FuelTypeText,Benzin,072f08f9-baa9-44c6-ad85-94a4810f7938
47,506.0,MERCEDES-BENZ,E 50 AMG Avantgarde,MERCEDES-BENZ E 50 AMG Avantgarde,E 50 AMG,E 50 AMG Avantgarde,BodyColorText,rot mét.,07340e8a-2cd7-411e-9317-c366ef5b6605
48,337.0,BMW,740i,BMW 740i,740,740i,ConsumptionRatingText,null,074869c6-4950-4719-8522-ba8a465b2be5
49,858.0,CHEVROLET,Corvette ZR1,CHEVROLET Corvette ZR1,CORVETTE,Corvette ZR1,DriveTypeText,Hinterradantrieb,078f0145-ddd5-46cc-b44d-3f9173e26651
50,532.0,AUDI,S8 4.2 quattro,AUDI S8 4.2 quattro,S8,S8 4.2 quattro,BodyColorText,schwarz,0819d259-525d-4914-af5d-63bc116db2bb
51,509.0,BMW,135i,BMW 135i,135,135i,BodyColorText,schwarz,082a8951-5e9a-46d6-b486-8999824c4cfc
52,357.0,BMW,740i,BMW 740i,740,740i,Properties,"""Ab MFK""",08636f3f-915b-43a4-acff-47cbd0a4ac5e
53,536.0,BMW,320i Touring,BMW 320i Touring,320,320i Touring,ConditionTypeText,Occasion,086eb3b0-e14f-46bb-9cae-40ed451716ad
54,919.0,BMW,M5,BMW M5,M5,M5,Hp,503,0870a281-f5f4-42e5-a5da-11db7ecc9c27
55,141.0,MERCEDES-BENZ,C 230 Elégance,MERCEDES-BENZ C 230 Elégance,C 230,C 230 Elégance,FirstRegMonth,2,088a545c-6b8d-4435-b97e-8c1e12abf3b7
56,917.0,BMW,750iL,BMW 750iL,750,750iL,BodyColorText,silber mét.,0896637d-4997-45a8-b3cb-e396af477743
57,686.0,TOYOTA,Bergungsfahrzeug,TOYOTA DYNA Bergungsfahrzeug,DYNA,DYNA Bergungsfahrzeug,City,Zuzwil,08abcaaa-9b53-477d-b8e1-3b85b2d1058b
58,1014.0,ALFA ROMEO,Coupé,ALFA ROMEO 8C Coupé,8C,8C Coupé,Doors,2,094e82cf-0516-4870-8bb5-971d493ee2bf
59,517.0,LAMBORGHINI,Gallardo LP570-4 Coupé SL,LAMBORGHINI Gallardo LP570-4 Coupé SL,GALLARDO,Gallardo LP570-4 Coupé SL,ConsumptionTotalText,13.7 l/100km,0950de5b-8946-496f-8fbc-f934526eb762

In [7]:
#convert ID column to numeric type and sort it
df['ID'] = df['ID'].astype('float')
df = df.sort_values("ID")

## Check what the Target Data looks like

In [8]:
t_data = pd.read_excel('Target Data.xlsx')
t_data.head()

,carType,color,condition,currency,drive,city,country,make,manufacture_year,mileage,mileage_unit,model,model_variant,price_on_request,type,zip,manufacture_month,fuel_consumption_unit
0,Convertible / Roadster,White,Used,USD,LHD,Zuzwil,CH,Toyota,1983,0.0,kilometer,Celica,2800 i Supra,False,car,NaN,3.0,l_km_consumption
1,Convertible / Roadster,Other,Original Condition,USD,LHD,London,GB,Ferrari,2001,0.0,mile,550,NaN,True,car,NaN,NaN,NaN
2,Convertible / Roadster,White,Used,USD,LHD,Scotts Valley,US,Porsche,1989,0.0,mile,"911 ""G""",NaN,True,car,NaN,NaN,NaN
3,Convertible / Roadster,Blue,Used,USD,LHD,London,GB,Rolls-Royce,1961,0.0,kilometer,Silver Cloud II,NaN,False,car,NaN,NaN,NaN
4,Convertible / Roadster,Black,Original Condition,USD,LHD,Hong Kong,HK,Gumpert,2010,0.0,kilometer,Apollo,Apollo S 800hp,False,car,NaN,NaN,NaN

### Have a look at the Attribute Names

In [9]:
pd.DataFrame(Counter(df["Attribute Names"]), index=["Attribute Names"])

,Km,InteriorColorText,BodyColorText,Properties,ConsumptionTotalText,Hp,Ccm,BodyTypeText,ConsumptionRatingText,Doors,Seats,ConditionTypeText,TransmissionTypeText,FuelTypeText,FirstRegYear,City,FirstRegMonth,Co2EmissionText,DriveTypeText
Attribute Names,1153,1153,1153,1153,1153,1153,1153,1152,1153,1153,1153,1153,1153,1153,1153,1153,1153,1153,1153

## Pre-processing

In [10]:
# I need to transform the supplier data to achieve the same granularity as the target data

In [11]:
# Some rows in the input data have repeting ID and column values, while only the Attribute Names and Attribute Values change.
# We can group them and then make new columns with all Attribute Names and Attribute Values in single row for each ID
df_grp = df.groupby(["ID", "MakeText", "TypeName", "TypeNameFull", "ModelText", "ModelTypeText"])
df_grp_agg = df_grp.agg({"Attribute Names": list, "Attribute Values": list}).reset_index()

In [12]:
# define function to aggragate attributes
def aggr_attr(row):
    attr = {key: value for key, value in zip(row["Attribute Names"], row["Attribute Values"])}
    attr.update({col_name: row[col_name] for col_name in ["ID", "MakeText", "TypeName", "TypeNameFull", "ModelText", "ModelTypeText"]})
    return pd.Series(attr)

df_grp_agg_attr = df_grp_agg.apply(aggr_attr, axis=1)

In [13]:
df_grp_agg_attr.shape

(1103, 25)

In [14]:
df_grp_agg_attr.head()

,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,DriveTypeText,...,InteriorColorText,Km,MakeText,ModelText,ModelTypeText,Properties,Seats,TransmissionTypeText,TypeName,TypeNameFull
0,anthrazit,Limousine,3199,Zuzwil,275 g/km,Occasion,null,11.5 l/100km,4,Allrad,...,grau,31900,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,"""Ab MFK""",5,Automat,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic
1,anthrazit,Kombi,4991,Zuzwil,333 g/km,Occasion,G,14.0 l/100km,5,Allrad,...,null,25400,AUDI,RS6,RS6 Avant 5.0 V10 quattro,"""Ab MFK""",5,Automat sequentiell,RS6 Avant 5.0 V10 quattro,AUDI RS6 Avant 5.0 V10 quattro
2,anthrazit,Kombi,4172,Zuzwil,350 g/km,Occasion,G,14.6 l/100km,5,Allrad,...,beige,38500,AUDI,RS6,RS6 Avant quattro,"""Ab MFK""",5,Automat sequentiell,RS6 Avant quattro,AUDI RS6 Avant quattro
3,anthrazit,Coupé,6162,Zuzwil,291 g/km,Occasion,G,12.7 l/100km,2,Hinterradantrieb,...,schwarz,200,CHEVROLET,CORVETTE,Corvette Z06,"""Ab MFK"", ""Direkt-/Parallelimport""",2,Schaltgetriebe manuell,Corvette Z06,CHEVROLET Corvette Z06
4,anthrazit,SUV / Geländewagen,4806,Zuzwil,270 g/km,Occasion,G,11.5 l/100km,5,Allrad,...,schwarz,2900,PORSCHE,CAYENNE,Cayenne Turbo Techart Magnum Kit,"""Ab MFK""",5,Automat sequentiell,Cayenne Turbo Techart Magnum Kit,PORSCHE Cayenne Turbo Techart Magnum Kit

## Normalization

### Normalize column carType

In [15]:
pd.DataFrame({k: v for k, v in Counter(t_data["carType"]).most_common()}, index=["carType"])

,Coupé,Convertible / Roadster,Other,Saloon,Custom,SUV,NaN,Station Wagon,Targa,Single seater
carType,3359,1970,902,362,200,187,101,90,62,19

In [16]:
pd.DataFrame({k: v for k, v in Counter(df_grp_agg_attr["BodyTypeText"]).most_common()}, index=["BodyTypeText"])

,Coupé,Limousine,Cabriolet,Kombi,SUV / Geländewagen,Kleinwagen,Kompaktvan / Minivan,Pick-up,Sattelschlepper
BodyTypeText,348,313,236,98,88,12,4,3,1

### Check the number of seats

In [17]:
pd.DataFrame({k: v for k, v in Counter(df_grp_agg_attr["Seats"]).most_common()}, index=["Seats"])

         5    2    4   0  3  7  1  6
Seats  473  303  287  31  3  2  2  2

### Normalize color

In [18]:
pd.DataFrame({k: v for k, v in Counter(t_data["color"]).most_common()}, index=["color"])

,Other,Red,Black,Blue,Silver,White,Gray,Green,Yellow,Beige,Orange,Brown,Gold,Purple
color,1433,1207,942,840,678,671,501,454,204,99,88,75,35,25

In [19]:
pd.DataFrame({k: v for k, v in Counter(df_grp_agg_attr["BodyColorText"]).most_common()}, index=["BodyColorText"])

,schwarz mét.,silber mét.,blau mét.,grau mét.,schwarz,weiss,rot,grün mét.,blau,anthrazit mét.,...,beige mét.,bordeaux,gold mét.,braun mét.,orange,orange mét.,beige,braun,gelb mét.,gold
BodyColorText,223,200,108,98,92,62,58,45,39,29,...,4,3,3,2,2,2,1,1,1,1

### Normalize condition

In [20]:
pd.DataFrame({k: v for k, v in Counter(df_grp_agg_attr["ConditionTypeText"]).most_common()}, index=["ConditionTypeText"])

                   Occasion  Oldtimer  Neu  Vorführmodell
ConditionTypeText      1059        18   17              9

In [21]:
pd.DataFrame({k: v for k, v in Counter(t_data["condition"]).most_common()}, index=["condition"])

,Used,Restored,Original Condition,Used with guarantee,New,Restoration Project
condition,5190,1005,744,162,108,43

### Normalize model and variant

In [22]:
pd.DataFrame({k: v for k, v in Counter(df_grp_agg_attr["MakeText"]).most_common()}, index=["MakeText"])

,MERCEDES-BENZ,PORSCHE,BMW,AUDI,FERRARI,RENAULT,LAMBORGHINI,BENTLEY,MASERATI,VW,...,BUGATTI,TALBOT,LEXUS,HYUNDAI,SMART,WIESMANN,DATSUN,DE TOMASO,AUTOBIANCHI,MINI
MakeText,285,137,124,118,68,45,36,34,32,19,...,1,1,1,1,1,1,1,1,1,1

In [23]:
pd.DataFrame({k: v for k, v in Counter(df_grp_agg_attr["ModelText"]).most_common()}, index=["ModelText"])

,911,RS6,SL 500,CAYENNE,SL 600,SL 55 AMG,ALPINE,A8,M5,CONTINENTAL,...,ML 350,PANTERA,A112,Silverado,MX-5,205,XJ 220,ESPACE,MINI,A 150
ModelText,95,58,33,27,21,18,18,17,16,15,...,1,1,1,1,1,1,1,1,1,1

In [24]:
pd.DataFrame({k: v for k, v in Counter(df_grp_agg_attr["ModelTypeText"]).most_common()}, index=["ModelTypeText"])

,RS6 Avant quattro,SL 500,911 Turbo,RS6 Avant 5.0 V10 quattro,SL 600,SL 55 AMG,Cayenne Turbo,M5,A8 4.2 quattro,CL 600,...,H3 3.7 Adventure,Alpine A110 1300 VC Gordini,MX-5 1.8i 16V Confort,205 Turbo 16V,320d xDrive M-Sportpaket,XJ 220,Espace 2.0 T Privilège,1000,MP4-12C Cabriolet 3.8 V8,A 150 Classic
ModelTypeText,31,30,30,23,21,18,18,16,15,12,...,1,1,1,1,1,1,1,1,1,1

In [25]:
pd.DataFrame({k: v for k, v in Counter(df_grp_agg_attr["TypeName"]).most_common()}, index=["TypeName"])

,RS6 Avant quattro,SL 500,911 Turbo,RS6 Avant 5.0 V10 quattro,SL 600,SL 55 AMG,Cayenne Turbo,null,M5,A8 4.2 quattro,...,Alpine V6 Turbo,H3 3.7 Adventure,1300 VC Gordini,MX-5 1.8i 16V Confort,Turbo 16V,320d xDrive M-Sportpaket,Espace 2.0 T Privilège,1000,MP4-12C Cabriolet 3.8 V8,A 150 Classic
TypeName,31,30,29,23,21,18,18,16,16,15,...,1,1,1,1,1,1,1,1,1,1

### Normalize city/zip

In [26]:
pd.DataFrame({k: v for k, v in Counter(df_grp_agg_attr["City"]).most_common()}, index=["City"])

      Zuzwil  Porrentruy  Sursee  Safenwil  Basel  St. Gallen
City    1072          13       9         4      3           2

In [27]:
pd.DataFrame({k: v for k, v in Counter(t_data["city"]).most_common()}, index=["city"])

,Zuzwil,De Lier,Bovenden,Aalter,London,NaN,BRUMMEN,Singen,Paris,Waalwijk,...,market harborough,St. Gallen,Sydney,Perth,Dortmund,97447 Gerolzhofen,Aubussargues,Milano,Dubai - United Arab Emirates,PADOVA
city,675,513,338,243,221,218,208,191,176,159,...,1,1,1,1,1,1,1,1,1,1

In [28]:
# Normalization
# Normalisation is required in case an attribute value is different but actually is the same (different
# spelling, language, different unit used etc.).
# 
# E.g. the first column in the target data "carType" defines cat Types (	Coupé	Convertible / Roadster	Other etc.)
# The column BodyTypeText in the input data can be used as carTypes for the target data 
# but it uses slightly different names (some are in German) and some are missgng (e.g. Single seater)
# We could use the number of seats to find the "Single seater" cars for the target data

# Normalize column "carType"
# it is neccessary to change the names of the car types found in BodyTypeText column of the input data to match
# the names used in Target Data carType column and use the number of seats to find the "Single seater". 
# If the BodyType in input data can't be assigned to one of the types in target data, put it to "Other"
def normalize_cartype(row):
    if row["Seats"] == 1:
        return "Single seater"
    try:
        return {
            "Coupé": "Coupé",
            "Limousine": "Saloon",
            "Cabriolet": "Convertible / Roadster",
            "Kombi": "Station Wagon",
            "SUV / Geländewagen": "SUV",
        }[row["BodyTypeText"]]
    except KeyError:
        return "Other"

# Normalize column "color"
# the same as with carType. Some colors are in German and some are slightly different. 
# Assign them to "standard" values from target data
def normalize_color(row):
    for color_en, color_de in [
            ("Black", ["schwarz"]), ("Silver", ["silber"]), ("Blue", ["blau"]), ("Gray", ["grau", "anthrazit"]), 
            ("White", ["weiss"]), ("Red", ["red", "bordeaux"]), ("Green", ["grün"]), ("Yellow", ["gelb"]), 
            ("Purple", ["violett"]), ("Gold", ["gold"]), ("Brown", ["braun"]), ("Orange", ["orange"]), ("Beige", ["beige"])]:
        for item in color_de:
            if item in row["BodyColorText"]:
                return color_en
    return "Other"

# Normalize column ConditionTypeText
def normalize_condition(row):
    try:
        return {
            "Occasion": "Used",
            "Oldtimer": "Restored",
            "Neu": "New",
            "Vorführmodell": "Original Condition",
        }[row["ConditionTypeText"]]
    except KeyError:
        return "Other"
    
# Normalize columns model and model_variant
# In order to extract  variant we can remove  model  from the column ModelTypeText. 
# If this doesn't work, we use TypeName.
def normalize_variant(row):
    model = row["ModelText"].strip()
    model_variant = row["ModelTypeText"].strip()
    if model_variant[:len(model)].lower() == model.lower():
        return model_variant[len(model):].strip()
    return row["TypeName"]

# Normalize column Zip
# Can be done automatically with e.g. pgeocode
def normalize_zip(row):
    try:
        return {
            "Zuzwil": "9524",
            "Porrentruy": "2900",
            "Sursee": "6210",
            "Safenwil": "5745",
            "Basel": "4000",
            "St. Galen": "9000",
        }[row["City"]]
    except KeyError:
        return "Other"

In [29]:
# Perform normalization of all columns posible to normalize
NORM_FUNCT = {
    "BodyTypeText": normalize_cartype,
    "BodyColorText": normalize_color,
    "Condition": normalize_condition,
    "Variant": normalize_variant,
    "Zip": normalize_zip,

}

def normalize(row):
    for column, funct in NORM_FUNCT.items():
        row[column] = funct(row)
    return row
    
# perform normalization    
normalized_df = df_grp_agg_attr.apply(normalize, axis=1)
normalized_df.head()

,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,DriveTypeText,...,ModelText,ModelTypeText,Properties,Seats,TransmissionTypeText,TypeName,TypeNameFull,Condition,Variant,Zip
0,Gray,Saloon,3199,Zuzwil,275 g/km,Occasion,null,11.5 l/100km,4,Allrad,...,E 320,E 320 Elégance 4-Matic,"""Ab MFK""",5,Automat,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic,Used,Elégance 4-Matic,9524
1,Gray,Station Wagon,4991,Zuzwil,333 g/km,Occasion,G,14.0 l/100km,5,Allrad,...,RS6,RS6 Avant 5.0 V10 quattro,"""Ab MFK""",5,Automat sequentiell,RS6 Avant 5.0 V10 quattro,AUDI RS6 Avant 5.0 V10 quattro,Used,Avant 5.0 V10 quattro,9524
2,Gray,Station Wagon,4172,Zuzwil,350 g/km,Occasion,G,14.6 l/100km,5,Allrad,...,RS6,RS6 Avant quattro,"""Ab MFK""",5,Automat sequentiell,RS6 Avant quattro,AUDI RS6 Avant quattro,Used,Avant quattro,9524
3,Gray,Coupé,6162,Zuzwil,291 g/km,Occasion,G,12.7 l/100km,2,Hinterradantrieb,...,CORVETTE,Corvette Z06,"""Ab MFK"", ""Direkt-/Parallelimport""",2,Schaltgetriebe manuell,Corvette Z06,CHEVROLET Corvette Z06,Used,Z06,9524
4,Gray,SUV,4806,Zuzwil,270 g/km,Occasion,G,11.5 l/100km,5,Allrad,...,CAYENNE,Cayenne Turbo Techart Magnum Kit,"""Ab MFK""",5,Automat sequentiell,Cayenne Turbo Techart Magnum Kit,PORSCHE Cayenne Turbo Techart Magnum Kit,Used,Turbo Techart Magnum Kit,9524

In [30]:
def integrate(row):
    return pd.Series({
        "carType": row["BodyTypeText"],
        "color": row["BodyColorText"],
        "condition": row["ConditionTypeText"],
        "currency": "CHF", # assume that all cars are from/to be sold CH
        "drive": "LHD", # all cars in the input data are from CH, hence LHD, could not find column to normalize
        "city": row["City"], # all cities are from CH
        "country": "CH", # all cars in the input data are from CH but can be deduced from the city name
        "make": row["MakeText"],
        "manufacture_year": row["FirstRegYear"],
        "mileage": row["Km"], 
        "mileage_unit": "kilometer", # all cars are form CH
        "model": row["ModelText"],
        "model_variant": row["Variant"], 
        "price_on_request": None, # could not find column to normalize in the input data
        "type": "car", # all of target data contains the value "car"
        "zip": row["Zip"], # can be inferred from city using e.g pgeocode
        "manufacture_month": row["FirstRegMonth"],
        "fuel_consumption_unit": "l_km_consumption" if row["ConsumptionTotalText"] and row["ConsumptionTotalText"] != 'null' else None,
    })

# perform data integration
formated_df = normalized_df.apply(integrate, axis=1)
formated_df.head(20)

,carType,color,condition,currency,drive,city,country,make,manufacture_year,mileage,mileage_unit,model,model_variant,price_on_request,type,zip,manufacture_month,fuel_consumption_unit
0,Saloon,Gray,Occasion,CHF,LHD,Zuzwil,CH,MERCEDES-BENZ,1999,31900,kilometer,E 320,Elégance 4-Matic,None,car,9524,1,l_km_consumption
1,Station Wagon,Gray,Occasion,CHF,LHD,Zuzwil,CH,AUDI,2008,25400,kilometer,RS6,Avant 5.0 V10 quattro,None,car,9524,7,l_km_consumption
2,Station Wagon,Gray,Occasion,CHF,LHD,Zuzwil,CH,AUDI,2002,38500,kilometer,RS6,Avant quattro,None,car,9524,10,l_km_consumption
3,Coupé,Gray,Occasion,CHF,LHD,Zuzwil,CH,CHEVROLET,2015,200,kilometer,CORVETTE,Z06,None,car,9524,6,l_km_consumption
4,SUV,Gray,Occasion,CHF,LHD,Zuzwil,CH,PORSCHE,2010,2900,kilometer,CAYENNE,Turbo Techart Magnum Kit,None,car,9524,1,l_km_consumption
5,Coupé,Gray,Occasion,CHF,LHD,Zuzwil,CH,FORD (USA),2012,92000,kilometer,MUSTANG,Shelby GT500,None,car,9524,3,None
6,Saloon,Gray,Occasion,CHF,LHD,Zuzwil,CH,MERCEDES-BENZ,2004,120900,kilometer,CLS 500,,None,car,9524,11,l_km_consumption
7,Convertible / Roadster,Gray,Occasion,CHF,LHD,Zuzwil,CH,ASTON MARTIN,2005,31800,kilometer,DB9,Volante,None,car,9524,11,l_km_consumption
8,Convertible / Roadster,Gray,Occasion,CHF,LHD,Zuzwil,CH,LOTUS,2003,38200,kilometer,ELISE,,None,car,9524,10,l_km_consumption
9,SUV,Gray,Occasion,CHF,LHD,Zuzwil,CH,BMW,2002,26500,kilometer,X5,4.6is,None,car,9524,11,l_km_consumption
10,Coupé,Gray,Occasion,CHF,LHD,Zuzwil,CH,PORSCHE,1980,54000,kilometer,924,Turbo,None,car,9524,3,None
11,Convertible / Roadster,Gray,Occasion,CHF,LHD,Zuzwil,CH,AUDI,1996,120200,kilometer,Cabriolet,2.8 E,None,car,9524,7,l_km_consumption
12,SUV,Gray,Occasion,CHF,LHD,Zuzwil,CH,LAND ROVER,2007,99900,kilometer,RANGE ROVER,3.6 d HSE,None,car,9524,2,l_km_consumption
13,Convertible / Roadster,Gray,Occasion,CHF,LHD,Zuzwil,CH,MERCEDES-BENZ,2002,16500,kilometer,SL 55 AMG,,None,car,9524,6,l_km_consumption
14,SUV,Gray,Occasion,CHF,LHD,Zuzwil,CH,LAND ROVER,2012,63200,kilometer,RANGE ROVER,4.4TD Vogue,None,car,9524,1,l_km_consumption
15,Coupé,Gray,Occasion,CHF,LHD,Zuzwil,CH,MERCEDES-BENZ,2012,12100,kilometer,C 63 AMG,BLACK SERIES (Coupé),None,car,9524,8,None
16,Saloon,Gray,Occasion,CHF,LHD,Zuzwil,CH,BMW-ALPINA,1999,146500,kilometer,3 SERIES,B8,None,car,9524,1,None
17,Convertible / Roadster,Gray,Occasion,CHF,LHD,Zuzwil,CH,MERCEDES-BENZ,2006,47000,kilometer,SL 55 AMG,,None,car,9524,3,l_km_consumption
18,Station Wagon,Gray,Occasion,CHF,LHD,Zuzwil,CH,AUDI,2003,27900,kilometer,RS6,Avant quattro,None,car,9524,7,l_km_consumption
19,Coupé,Gray,Occasion,CHF,LHD,Zuzwil,CH,RENAULT,1971,19200,kilometer,Alpine A110,1600S Gruppe 5 look,None,car,9524,1,None

In [31]:
t_data.head()

,carType,color,condition,currency,drive,city,country,make,manufacture_year,mileage,mileage_unit,model,model_variant,price_on_request,type,zip,manufacture_month,fuel_consumption_unit
0,Convertible / Roadster,White,Used,USD,LHD,Zuzwil,CH,Toyota,1983,0.0,kilometer,Celica,2800 i Supra,False,car,NaN,3.0,l_km_consumption
1,Convertible / Roadster,Other,Original Condition,USD,LHD,London,GB,Ferrari,2001,0.0,mile,550,NaN,True,car,NaN,NaN,NaN
2,Convertible / Roadster,White,Used,USD,LHD,Scotts Valley,US,Porsche,1989,0.0,mile,"911 ""G""",NaN,True,car,NaN,NaN,NaN
3,Convertible / Roadster,Blue,Used,USD,LHD,London,GB,Rolls-Royce,1961,0.0,kilometer,Silver Cloud II,NaN,False,car,NaN,NaN,NaN
4,Convertible / Roadster,Black,Original Condition,USD,LHD,Hong Kong,HK,Gumpert,2010,0.0,kilometer,Apollo,Apollo S 800hp,False,car,NaN,NaN,NaN

In [32]:
with pd.ExcelWriter("onedot_data_analyst_solution.xlsx") as writer:
    df_grp_agg_attr.to_excel(writer, sheet_name="Pre-processed Data", index=False, na_rep="null")
    normalized_df.to_excel(writer, sheet_name="Normalized Data", index=False, na_rep="null")
    formated_df.to_excel(writer, sheet_name="Integrated Data", index=False, na_rep="null")